<div class="container">
    <div class="row">
        <div class="col-5">

        </div>
        <div class="col-5">
            <h2>Product Page</h2>
        </div>
    </div>
    <div class="row" style='margin-top:2em'>
        <div class="col-sm-3">
            <input type="text" placeholder="Search for a Design" class="form-control" size="2">
        </div>
        <div class="col-5 ">
            
        </div>
         <div class="col-3">
            <select class="form-control" >
          <option selected>Filter By Most popular</option>
          
          <option value="2">Filter By Least Popular</option>
           <option value="2">Filter By Most Expensive</option>

        </select>  
        </div>

    </div>

</div>
</div>