<div class="row">
	<div class="col-md-6 mx-auto">
		<div class="card card-body">
			<img class="logo" src="/img/BlissLogo2.png">
			<h3 class="text-center">Password Reset</h3>
			{{#if fail}} 
				<div class="alert alert-danger">{{msg}}</div> 
			{{/if}}
            {{#if success}}
                <div class="alert alert-success">{{msg}}</div> 
            {{/if}} 
			<form method="post" action="/api/forget"> 
				<div class="form-group">
					<label for="email"></label>
					<input type="email" placeholder= "Enter your email" name="email" class="form-control" required>
				</div>
				<p>Uh oh. Seems like you have forgotten your password</p>

				<button type="submit" class="btn btn-primary">Send Email</button>
			</form>
			
		</div>
	</div>
</div>
