<div class="row">
	<div class="col-md-6 mx-auto">
		<div class="card card-body">
			<img class="logo" src="/img/logo.png">
			<h3 class="text-center">Password Reset</h3>
			{{!-- Displays dive with {{error_msg}} if error_msg is valid --}} 
			{{#if fail}} 
				<div class="alert alert-danger">{{msg}}</div> 
			{{/if}} 
			<div id="pass-msg" style="display: none;" class='alert alert-danger'>Password must contain, 8 characters, 1 upper case 1 lower case letter with a number and a special character</div>
			<div id="pass2-msg" style="display: none;" class='alert alert-danger'>Password & Confirm Password do not match</div>
			<form id="form" method="post" action="/api/reset"> 
                <div class="form-group">
					<input type="hidden" name="email" id="email" class="form-control" >
				</div>
				<div class="form-group">
					<label for="password">New Password</label>
					<input id="password" type="password" name="password" class="form-control" required>
				</div>
                <div class="form-group">
					<label for="password2">Confirm Password</label>
					<input id="password2" type="password" name="password2" class="form-control" required>
				</div>
				<button type="submit" class="btn btn-primary">Reset</button>
			</form>
		</div>
	</div>
</div>
<script>
    $('#email').val(getQueryStringValue("email"));
    function getQueryStringValue (key) {  
  return decodeURIComponent(window.location.search.replace(new RegExp("^(?:.*[&\\?]" + encodeURIComponent(key).replace(/[\.\+\*]/g, "\\$&") + "(?:\\=([^&]*))?)?.*$", "i"), "$1"));  
} 
</script>
<script>
	function validPassword(password)
    {
        let strongPassword = new RegExp('(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9])(?=.{8,})');
        if(strongPassword.test(password))
        {
            return true;
        }
        return false;
    }
	document.getElementById('form').addEventListener('submit',function(e){
		let password = document.getElementById('password').value;
		let password2 = document.getElementById('password2').value;
		let isValid = validPassword(password);
		if(password != '')
		{
			if(!isValid)
			{
				document.getElementById('pass2-msg').style.display = 'none';
				document.getElementById('pass-msg').style.display = 'block';
				e.preventDefault();
			}
		}
		if(password != password2)
		{
				document.getElementById('pass-msg').style.display = 'none';
				document.getElementById('pass2-msg').style.display = 'block';
				e.preventDefault();	
		}
	});
</script>
